alphashape==1.3.1
beautifulsoup4==4.11.2
chumpy==0.70
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
Cython==0.29.35
dearpygui==1.10.0
diffusers==0.21.3
huggingface-hub==0.17.3
hydra-core==1.1.2
imageio==2.32.0
imageio-ffmpeg==0.4.9
ipykernel==6.20.2
ipython==8.9.0
ipython-genutils==0.2.0
jaxtyping==0.2.19
jedi==0.18.2
KNN-CUDA @ https://github.com/unlimblue/KNN_CUDA/releases/download/0.2/KNN_CUDA-0.2-py3-none-any.whl#sha256=809a43da2eed950c65ba15e355e8cdbf975b6a948dced1f02414f26aba586cd0
matplotlib==3.5.1
matplotlib-inline==0.1.6
moviepy==1.0.3
ninja==1.11.1
numpy
omegaconf==2.3.0
opencv-contrib-python-headless==4.7.0.72
opencv-python==4.7.0.72
opencv-python-headless==4.8.1.78
opt-einsum==3.3.0
pandas==2.0.3
Pillow==10.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
scikit-image==0.19.3
scikit-learn==1.2.2
scikit-video==1.1.11
scipy==1.7.3
seaborn==0.13.0
shapely==2.0.1
tensorboard==2.13.0
tensorflow==2.13.0
tensorflow-estimator==2.13.0
torch==2.0.0+cu117
torch-cluster==1.6.1+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torchaudio==2.0.1+cu117
torchmetrics==0.11.4
torchvision==0.15.1+cu117
tornado==6.2
tqdm==4.64.1
transformers==4.33.3
trimesh==3.22.0
